:root {
  --linear-gradient: #6448fe to #600594;
  --input-error: hsl(0, 100%, 66%);
  --primary-w: hsl(0, 0%, 100%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --veryd-violet: hsl(278, 68%, 11%);
  --principal-font: "Space Grotesk", "sans-serif";
  --font: 18px;
  --secondary-font: 'Roboto Mono', monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--principal-font);
  font-weight: 400;
}

input {
  border: 1px solid;
  border-color: rgb(171, 171, 171);
  border-radius: 5px;
}

.card-information {
  display: flex;
  flex-direction: row;
}

.card-information-side {
  background-image: url(./img/bg-main-desktop.png);
  height: 100%;
  width: 400px;
}

.card-front,
.card-back {
  width: 370px;
}

.card-img {
  margin: 0 auto;
  font-family: var(--secondary-font);
}

.card-img-front {
  position: relative;
  top: 150px;
  left: -200px;
}

.input-error {
  border: 2px solid red;
}

.card-number,
.card-name,
.card-expM,
.card-expY {
  position: absolute;
  color: var(--primary-w);
}

.card-name {
  top: 160px;
  left: 30px;
  letter-spacing: 2px;
}

.card-number {
  font-size: 21px;
  letter-spacing: 6px;
  top: 110px;
  left: 30px;
}

.card-expM {
  top: 160px;
  letter-spacing: 3px;
  left: 290px;
}

.card-expY {
  top: 160px;
  left: 320px;
  letter-spacing: 3px;
}

.card-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-img-back {
  position: relative;
  background: green;
  top: 0px;
}

.card-back {
  position: absolute;
  top: 200px;
  right: 130px;
}

.card-cvc {
  position: absolute;
  top: 290px;
  right: 170px;
  letter-spacing: 2px;
  color: var(--primary-w);
}

.card-information-legend {
  display: flex;
  margin-right: 200px;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-w);
  font-size: var(--font);
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-label {
  margin: 10px;
}

.card-label:last-child {
  margin-right: -10px;
}

.card-label,
input {
  margin-top: 10px;
  padding: 15px;
  width: 100%;
}

.card-label-duo {
  display: flex;
  font-size: 12px;
  width: 100%;
  margin-left: -20px;
}

.input-short {
  display: flex;
  width: 150px;
  gap: 5px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  font-size: var(--font);
  color: var(--primary-w);
  background-color: var(--veryd-violet);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--light-violet);
  color: var(--veryd-violet);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
